@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CedarvilleCursive";
  src: local("CedarvilleCursive"), url(./fonts/CedarvilleCursive-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Lusitana";
  src: local("Lusitana"), url(./fonts/Lusitana-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(./fonts/Roboto.ttf) format("truetype");
}

:root {
  font-family: Roboto, serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
